.filterWrapper {
  background-color: DodgerBlue;
  padding: 24px;
  border-radius: 4px;
}

.filterLabel {
  color: snow;
}

.filterInput {
  outline: none;
  border: none;
  background-color: snow;
  border-radius: 12px;
  padding: 4px 12px;
  margin-top: 8px;
  font-size: 16px;
  color: Navy;
  transition: transform 150ms ease-in-out 150ms;
}
.filterInput:focus {
  transform: translateX(8px);
}
