.loginForm {
  width: 320px;
  margin: 20px auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  background-color: DodgerBlue;
  border-radius: 4px;
}

.loginInputWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loginLabel {
  color: snow;
  font-size: 20px;
}

.loginFormInput {
  outline: none;
  border: none;
  background-color: snow;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 16px;
  color: Navy;
  transition: transform 150ms ease-in-out 150ms;
}
.loginFormInput:focus {
  transform: translateX(8px);
}

.loginFormButton {
  display: block;
  width: 100px;
  padding: 4px;
  border-radius: 12px;
  background-color: MidnightBlue;
  color: snow;
  transition: all 150ms ease-in-out 150ms;
}
.loginFormButton:hover {
  background-color: snow;
  color: MidnightBlue;
}
