.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  background-color: DodgerBlue;
  border-radius: 4px;
  margin-bottom: 20px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: snow;
  font-size: 20px;
}

.formInput {
  outline: none;
  border: none;
  background-color: snow;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 16px;
  color: Navy;
  transition: transform 150ms ease-in-out 150ms;
}
.formInput:focus {
  transform: translateX(8px);
}

.formButton {
  display: block;
  width: 100px;
  position: relative;
  height: 24px;
  padding: 4px;
  border-radius: 12px;
  background-color: MidnightBlue;
  color: snow;
  transition: all 150ms ease-in-out 150ms;
}
.formButton:hover,
.formButton:active {
  background-color: snow;
  color: MidnightBlue;
}

.loaderWrapper {
  position: absolute;
  top: -27px;
  left: 40px;
}
